<section class="page-featured-listings bg-light border-top mt-5 pt-4 pb-3" aria-label="Featured listings">
    <div class="container">
        @await Component.InvokeAsync("FeaturedAds")
    </div>
</section>
